body {
    margin:0;
    padding:1em;
}

#header .jumbotron{
    background-color:transparent;
}

#header .jumbotron h1{
    font-family:'Century Gothic';
    font-size:3.5em;
}

#quiz-questions{
    padding:1em;
    background-color:none;
}

.panel-body ul {
    list-style-type:none;
}

.panel-heading{
    background-color:black;
    color:white;
}